bincopy==17.14.5
cmsis_svd==0.4
colorama==0.4.5
hid==1.0.5
hidapi==0.11.2
intelhex==2.3.0
intervaltree==3.1.0
Jinja2==3.1.2
psutil==5.9.0
pycryptodome==3.17
pyelftools==0.29
PyQt5==5.15.9
pyusb==1.2.1
pywinusb==0.4.2
PyYAML==6.0
six==1.16.0
